
.container {
    display: grid;
    grid-template-columns: [col1] 33% [col2] auto [col3] 33%;
    grid-template-rows: auto;
    grid-template-areas: 
    "banner banner banner"
    "video video video"
    "video video video"
    "content1 . content2";
    grid-column-gap: 25px;
    grid-row-gap: 25px;   
}

.hero {
    grid-area: banner;
}
.content1 {
    grid-area: content1;
    text-align: center;
}
.content2 {
    grid-area: content2;
    text-align: center;
}
img {
    width: 100%;
}
.video {
    grid-area: video;
}